
    <section>
        <div class="container">
            <div class="row" >
                {{#each products}}
                {{!-- {{#if @index}} --}}
                <div class="col-md-4 col-6 p-3 d-flex">
                    <div class="card" style="width: 18rem; height:30rem;">
                        <img src="/product-images/{{this._id}}.jpg" class="card-img-top pt-2" height="200" width="150" alt="card-image">
                        <div class="card-body " style="position: absolute;bottom: 0;">
                            <h5 class="card-title">{{this.name}}</h5>
                            <p class="card-text">{{this.price}}</p>
                            <p class="card-text">{{this.description}}</p>
                            <a href="/" class="btn btn-primary">See more</a>
                        </div>
                    </div>
                </div>
                {{!-- {{/if}} --}}
                {{/each}}
            </div>
        </div>
    </section>

